.navbar{
    margin-bottom: 0 !important;
}
.bg-theme{
    background: url("../../../public/images/bg.jpg") no-repeat center;
    background-size: cover;
}
.active {
    cursor: default !important;
}


.br-100{
    border-radius: 100% !important;
}
.br-50{
    border-radius: 50% !important;
}
.br-40{
    border-radius: 40% !important;
}
.br-30{
    border-radius: 30% !important;
}
.br-20{
    border-radius: 20% !important;
}
.br-10{
    border-radius: 10% !important;
}


.font-size-60{
    font-size: 60px !important;
}
.font-size-30{
    font-size: 30px !important;
}
.font-size-20{
    font-size: 20px !important;
}
.font-size-10{
    font-size: 10px !important;
}

.width-10{
    width: 10px !important;
}
.width-20{
    width: 20px !important;
}
.width-30{
    width: 30px !important;
}
.width-40{
    width: 40px !important;
}
.width-50{
    width: 50px !important;
}
.width-100{
    display: inline-block !important;
    min-width: 180px !important;
}

.width-25p{
    width: 25% !important;
}
.width-50p{
    width: 50% !important;
}
.width-75p{
    width: 75% !important;
}
.width-100p{
    width: 100% !important;
}

.height-10{
    height: 10px;
}
.height-20{
    height: 20px;
}
.height-30{
    height: 30px;
}
.height-40{
    height: 40px;
}
.height-50{
    height: 50px;
}
.height-100{
    display: inline-block;
    min-height: 180px;
}


.height-25p{
    height: 25%;
}
.height-50p{
    height: 50%;
}
.height-75p{
    height: 75%;
}
.height-100p{
    height: 100%;
}


.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.bottom-0{
    bottom: 0;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}


.box-shadow-light{
    box-shadow: 0px 0px 10px 1px #3434340d;
}
.img-responsive{
    width: 100%;
    height: 100%;
}








/*-----------------------------------------------------------------*/

.btn{
    padding: 5px !important;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.container-fluid{
    padding: 0 !important;
    margin: 0 !important;
}
.video-js .vjs-big-play-button, .video-js .vjs-big-play-button:focus{
    /*position: relative;*/
    top: 44% !important;
    left: 42% !important;
}
